.box {
  padding: 10px;
  border: 2px solid black;
  background-color: tomato;
  color: white;
  height: 50px;
  width: 50px;
  text-align: center;
}

.outerbox {
  display: flex;
  border: 1px solid;
  height: 700px;
}

.outerbox > :nth-child(5) {
  order: 1;
  align-self: flex-end;
}
